:root {
    --blue: #DA6AA9;
    /* --black: #1d1d21; */
    --black: #515151;
    --lightdark: #160647;
    --green: #4BC8F1;
    --bg:#f3f9f9;
    --pink:#DA6AA9;
    --purple:#7959A6;
    --skyblue:#0bb2f0;
    --darkblack:#000000;
    --yellow:#eaee10;
  }
.error{
    color: red;
}

/* ----slider home ------------------------- */
.slider-image{
    height:500px !important;
    object-fit: cover;
}
.card{

	background-color: #fff;
	border:none;
	border-radius: 10px;
	/* width: 190px; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-container{
	position: relative;
	object-fit: cover !important;
}

.thumbnail-image{
	border-radius: 10px !important;
    height: 200px !important;
    width:100% !important;
    object-fit: cover;
}


.discount{

	background-color: red;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 10px;
	border-radius: 6px;
	color: #fff;
}

.wishlist{

	height: 25px;
	width: 25px;
	background-color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first{

	position: absolute;
	width: 100%;
	    padding: 9px;
}


.dress-name{
	font-size: 13px;
	font-weight: bold;
	width: 75%;
}


.new-price{
	font-size: 20px;
	font-weight: bold;
	color: #0bb2f0 !important;
	
}
.old-price{
	font-size: 12px;
	font-weight: bold;
	color: red !important;
}
.creme{
	background-color: #fff;
	border: 2px solid grey;
}
.creme:hover {
	border: 3px solid grey;
}
.creme:focus {
	background-color: grey;
}
.red{
	background-color: #fff;
	border: 2px solid red;
}
.red:hover {
	border: 3px solid red;
}
.red:focus {
	background-color: red;
}
.blue{
	background-color: #fff;
	border: 2px solid #40C4FF;
}
.blue:hover {
	border: 3px solid #40C4FF;
}
.blue:focus {
	background-color: #40C4FF;
}
.darkblue{
	background-color: #fff;
	border: 2px solid #01579B;
}
.darkblue:hover {
	border: 3px solid #01579B;
}
.darkblue:focus {
	background-color: #01579B;
}
.yellow{
	background-color: #fff;
	border: 2px solid #FFCA28;
}
.yellow:hover {
	border-radius: 3px solid #FFCA28;
}
.yellow:focus {
	background-color: #FFCA28;
}
.item-size{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff;
	border: 1px solid grey;
	color: grey;
	font-size: 10px;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
}
.rating-star{
	font-size: 10px !important;
}
.rating-number{
	font-size: 15px;
	color: grey;
}
.buy{
	font-size: 12px;
	color: var(--skyblue);
	font-weight: 500;
}
.voutchers{
	background-color: #fff;
	border:none;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
}
.voutcher-divider{
	display: flex;
}
.voutcher-left{
	width: 60%
}
.voutcher-name{
	color: grey;
	font-size: 9px;
	font-weight: 500;
}
.voutcher-code{
	color: red;
	font-size: 11px;
	font-weight: bold;
}
.voutcher-right{
	width: 40%;	 
	background-color: var(--skyblue);
	color: #fff;
}
.discount-percent{
	font-size: 12px;
	font-weight: bold;
	position: relative;
	top: 5px;
}
.off{
	font-size: 14px;
	position: relative;
	bottom: 5px;
}
.cart-items {
    background-color: #445bd1;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    position: absolute;
    top: -17px;
    right: -12px;
	color:white;
}

.password-eyes {
    float: right;
    margin-right: 24px;
    margin-top: -32px;
    position: relative;
    z-index: 2;
	color: var(--skyblue);
}
.btn-color{
	background-color: var(--skyblue);
	color:white !important;
    border-radius: 30px;
}
.payment-button{
    background-color: var(--skyblue);
	color:white !important;
    width:80%;
}
.heading-color{
	color: var(--skyblue);
}
.footer-socials li a {
    width: 45px;
    height: 45px;
    background: var(--skyblue) !important;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    padding-top: 12px;
}


.card-registration .select-input.form-control[readonly]:not([disabled]) {
	font-size: 1rem;
	line-height: 2.15;
	padding-left: .75em;
	padding-right: .75em;
	}
	
	.card-registration .select-arrow {
	top: 13px;
	}
	
	.bg-grey {
	background-color: #0bb2f01a;
	}

/* start billing--------------------------- */

.fa-check:before {
    content: "" !important;
}

header .active{
    font-weight: 700;
    position: relative;
}
header .active .fa-check {
    position: absolute;
    left: 37%;
    bottom: -32px;
    background-color: #fff;
    font-size:30px;
    color: var(--skyblue);
}
.progress{
    height: 3px;
    background-color: #ccc;
}
.progress div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress .progress-bar-billing{
    width: 35%;
}
.progress .progress-bar-payment{
    width: 52%;
}
.progress .progress-bar-success{
    width: 100%;
}
#details{
    padding: 30px 50px;
    min-height: 300px;
}
input{
    border: none;
    outline: none;
}
.form-group .d-flex{
    border: 1px solid #ddd;
}
.form-group .d-flex input{
    width: 95%;
}

select{
    width: 100%;
    padding: 8px 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
input[type="checkbox"] + label{
    font-size: 0.85rem;
    font-weight: 600;
}
#address,#cart,#summary{
    padding: 20px 50px;

}
#address .d-md-flex p.text-justify,#register p.text-muted{
    margin: 0;
}
#register{
    background-color: #d9ecf2;
}
#register a{
    text-decoration: none;
    color: #333;
}
#cart,#summary{
    max-width: 500px;
}
.h6{
    font-size: 1.2rem;
    font-weight: 700;
}
.h6 a{
    text-decoration: none;
    font-size: 1rem;
}
.item img{
    object-fit: cover;
    border-radius: 5px;
}
.item{
    position: relative;
}
.number{
    position: absolute;
    font-weight: 800;
    color: #fff;
    background-color: #0033ff;
    padding-left: 7px;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    top: -5px;
    right: -5px;
}
.display-5{
    font-size: 1.2rem;
}
#cart ~ p.text-muted{
    margin: 0;
    font-size: 0.9rem;
}
tr.text-muted td{
    border: none;
}
.fa-minus,.fa-plus{
    font-size: 0.7rem;
}
.table td{
    padding: 0.3rem;
}

.btn.text-white{
    background-color: #66cdaa;
    border-radius: 0px;
}
.btn.text-white:hover{
    background-color: #3cb371;
}
.wrapper .row + div.text-muted{
    font-size: 0.9rem;
}
.mobile,#mobile{
    display: none;
}
.buttons{
    vertical-align: text-bottom;
}
#register{
    width: 50%;
}

/* end billing ------------------------------- */

@media (min-width: 768px) {
}
@media (min-width: 992px) {
	.card-registration-2 .bg-grey {
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	}
	}
	
	@media (max-width: 991px) {
	.card-registration-2 .bg-grey {
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	}
	}